@model PizzariaBonAppetit.ViewModels.OrderFormViewModel
@{
    ViewBag.Title = Model.Title;
}
<br />
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Save", "Order"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Order.Id)

 
  
    <div class="form-group">
        @Html.LabelFor(m => m.Order.PizzaId)
        @Html.DropDownListFor(m => m.Order.PizzaId,
            new SelectList(Model.Pizzas, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.PizzaId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Order.SizeId)
        @Html.DropDownListFor(m => m.Order.SizeId,
            new SelectList(Model.Sizes, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.SizeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Order.CustomerId)
        @Html.DropDownListFor(m => m.Order.CustomerId,
            new SelectList(Model.Customers, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.CustomerId)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Order.Description)
        @Html.TextBoxFor(m => m.Order.Description, new { @class = "form-control" })

    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Order.IsDone) Está pronto?
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}