@model PizzariaBonAppetit.Models.Pizza
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /> <h2>Pizza de : @Model.Name</h2>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Name</td>
            <td>@Model.Prize</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>


@Html.ActionLink("Editar", "Edit", new { Model.Id }, new { @class = "btn btn-primary" })