@model PizzariaBonAppetit.Models.Pizza
@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Pizza"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Prize)
        <div class="input-group">
            <div class="input-group-addon">$</div>
            @Html.TextBoxFor(m => m.Prize, new { @class = "form-control money" })
        </div>
            @Html.ValidationMessageFor(m => m.Prize)
        </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)

    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Salvar</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {
            $('.money').mask('0000000000,00', { reverse: true });
        });
</script>



}