@model PizzariaBonAppetit.Models.Order
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Pedido nº @Model.Id</h2>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Cliente</th>
            <th>Pizza</th>
            <th>Descrição</th>
            <th>Tamanho</th>
            <th>Preço Total</th>
            <th>Pronta?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Customer.Name</td>
            <td>@Model.Pizza.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Size.Name</td>
            <td> @{var soma= Model.Size.Prize + @Model.Pizza.Prize; } @soma</td>
            <td>
                @if (Model.IsDone)
                {
                    <i class="material-icons">done</i>
                }
                else
                {
                    <i class="material-icons">timer</i>
                }
            </td>
        </tr>
    </tbody>
</table>

@Html.ActionLink("Editar", "Edit", new { Model.Id }, new { @class = "btn btn-primary" })