@model PizzariaBonAppetit.Models.Customer
@{
 
}
<br />
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Customer"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cpf)
        @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf" })
        @Html.ValidationMessageFor(m => m.Cpf)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)

    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00', { reverse: true });
        });
</script>

}